.body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-02);
  .meta {
    font-size: 1.5rem;
    color: hsl(0, 4%, 61%);
  }
  img {
    width: 25px;
    border-radius: 50%;
  }
}

.ninjaCard {
  padding: var(--spacing-05);
  margin: var(--spacing-03);
}