.card {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  user-select: none;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .header {
    display: flex;
    flex-direction: row;
    margin: var(--spacing-02);
    h2 {
      font-size: 2rem;
    }
  }
  &.dragging {
    opacity: 0.5;
    cursor: move;
  }
}